.App {
  text-align: center;
  max-height: 100vh;
  width: 100vw;
  overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}
.App::-webkit-scrollbar {
    display: none;
}

.error-div {
  height: fit-content;
   position: absolute;
    top: 0;
     width: 100vw;
      background-color: red;
      padding: 20px 0;
       color: #ffffff;
}



.body {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
  overflow-y: scroll;
    overflow-x: hidden;
  position: absolute;
  width: 100vw;
}
